button {
    font-size: 15px;
    background-color: #b5e48c;
}

/* ID는 # 으로 표기 */
#signup {
    background-color: #52b69a;
    color: #184e77;
}

/* 복수로 묶어서 선택 가능 */
h1,
h2 {
    color: #52b69a;
}

body {
    background-color: #d9ed92;
}

span {
    color: #184e77;
}

/* 클래스는 . 으로 표기 */
.tag {
    background-color: #0077b6;
    color: #03045e;
    font-size: 18px;
    letter-spacing: 2px;
}

/* 자손 셀렉터 */
.post a {
    color: #0081a7;
    text-decoration: none;
    font-weight: bold;
}

footer a {
    color: #f07167;
}

input[type="password"] {
    color: pink;
}

input+button {
    background-color: pink;
}

h2+button {
    font-size: 20px;
    color: magenta;
}

footer>a {
    color: lightblue;
}

section.post {
    color: #0077b6;
}

a[href*="google"] {
    color: aqua;
}

.post button:hover {
    background-color: #ffd60a;
    color: #f1faee;
}

.post a:hover {
    color: #f1faee;
    text-decoration: underline;
}

.post button:active {
    background-color: #ca6702;
}

.post:nth-of-type(2n) {
    background-color: #81b29a;
}